body {
  margin: 0;
  overflow: hidden;
}


#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: skyblue;
}


.loader {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.loader-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #082005;
  border-top: 6px solid #ffffff;
  animation: spin 2s linear infinite;
}

.loader-text {
  font-size: 40pt;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}